<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.basicinformation8084.product.mapper.PriceMapper">
    <insert id="insert"  parameterType="Price">
        insert into ofp_offer_price values(null, null, #{effective_start_date}, #{effective_end_date}, #{pro_id}, #{price},null,null,null,null,null,null,null,null,null,null)
    </insert>

    <update id="update" parameterType="Price">
        update ofp_offer_price set pro_id=#{pro_id}, effective_start_date=#{effective_start_date}, effective_end_date=#{effective_end_date},
            price=#{price} where ofp_id=#{ofp_id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from ofp_offer_price where ofp_id=#{ofp_id}
    </delete>

    <select id="getAll" resultMap="_price">
        select * from ofp_offer_price
    </select>

    <select id="getById" parameterType="java.lang.Integer" resultMap="_price">
        select * from ofp_offer_price where pro_id=#{pro_id}
    </select>

    <select id="getAllByFilter" parameterType="java.util.Map" resultMap="_price">
        select * from ofp_offer_price
        <where>
            <if test="ofp_id != null">ofp_id = #{ofp_id}</if>
            <if test="pro_id != null">pro_id = #{pro_id}</if>
            <if test="effective_start_date != null">effective_start_date = #{effective_start_date}</if>
            <if test="effective_end_date != null">effective_end_date = #{effective_end_date}</if>
            <if test="price != null">price = #{price}</if>
        </where>
    </select>


    <resultMap id="_price" type="Price">
       <id column="OFP_ID" property="ofp_id" />
       <result column="PRO_ID" property="pro_id" />
       <result column="EFFECTIVE_START_DATE" property="effective_start_date" />
       <result column="EFFECTIVE_END_DATE" property="effective_end_date" />
       <result column="PRICE" property="price" />
    </resultMap>

</mapper>
