<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.basicinformation8084.product.mapper.ProductCategoryMapper">
    <insert id="insert"  parameterType="ProductCategory">
        insert into prc_product_category values(null, #{pro_id},#{category_id}, #{category_name}, #{category_path},
            #{created_by}, #{creation_date}, #{last_update_by}, #{last_update_date}, #{call_cnt}, #{remark},
            null, #{plateform_type}, #{product_status}, #{img_url})
    </insert>



    <update id="update" parameterType="ProductCategory">
        update prc_product_category set pro_id = #{pro_id} ,category_id = #{category_id}, category_name = #{category_name}, category_path = #{category_path}, created_by = #{created_by},
            creation_date = #{creation_date}, last_update_by = #{last_update_by}, last_update_date = #{last_update_date},
            call_cnt = #{call_cnt}, remark = #{remark}, plateform_type = #{plateform_type},
            product_status = #{product_status}, img_url=#{img_url} where prc_id = #{prc_id}
    </update>



    <delete id="delete" parameterType="java.lang.Integer">
        delete from prc_product_category where prc_id=#{prc_id}
    </delete>

    <select id="getAll" resultMap="_product_category">
        select * from prc_product_category
    </select>

    <select id="getById" parameterType="java.lang.Integer" resultMap="_product_category">
        select * from prc_product_category where prc_id=#{prc_id}
    </select>

    <select id="getAllByFilter" parameterType="java.util.Map" resultMap="_product_category">
        select * from prc_product_category
        <where>
            <if test="pro_id != null">pro_id = #{pro_id}</if>
            <if test="prc_id != null">prc_id = #{prc_id}</if>
            <if test="category_id != null">category_id = #{category_id}</if>
            <if test="category_name != null">category_name = #{category_name}</if>
            <if test="category_path != null">category_path = #{category_path}</if>
            <if test="created_by != null">created_by = #{created_by}</if>
            <if test="creation_date != null">creation_date = #{creation_date}</if>
            <if test="last_update_by != null">last_update_by = #{last_update_by}</if>
            <if test="last_update_date != null">last_update_date = #{last_update_date}</if>
            <if test="call_cnt != null">call_cnt = #{call_cnt}</if>
            <if test="remark != null">remark = #{remark}</if>
            <if test="plateform_type != null">plateform_type = #{plateform_type}</if>
            <if test="product_status != null">product_status = #{product_status}</if>
            <if test="img_url != null">img_url = #{img_url}</if>
        </where>
    </select>

    <select id="getProNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from pro_product where prc_id = #{prc_id}
    </select>

    <resultMap id="_product_category" type="ProductCategory">
        <id column="PRC_ID" property="prc_id" />
        <result column="PRO_ID" property="pro_id"/>
        <result column="CATEGORY_ID" property="category_id"/>
        <result column="CATEGORY_NAME" property="category_name"/>
        <result column="CATEGORY_PATH" property="category_path"/>
        <result column="CREATED_BY" property="created_by"/>
        <result column="CREATION_DATE" property="creation_date"/>
        <result column="LAST_UPDATE_BY" property="last_update_by"/>
        <result column="LAST_UPDATE_DATE" property="last_update_date"/>
        <result column="CALL_CNT" property="call_cnt"/>
        <result column="REMARK" property="remark"/>
        <result column="PLATEFORM_TYPE" property="plateform_type"/>
        <result column="PRODUCT_STATUS" property="product_status"/>
        <result column="IMG_URL" property="img_url"/>
    </resultMap>


</mapper>


