<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.basicinformation8084.product.mapper.ProductMapper">
    <insert id="insert"  parameterType="Product" useGeneratedKeys="true" keyProperty="pro_id">
        insert into pro_product values(null, #{prc_id}, #{sku_cd}, #{brd_id}, #{man_id}, #{title},
            #{upc}, #{ean}, #{model}, #{img_id}, #{warranty_day}, null, null, null, null, null, null, null, null, null, #{replenishment_period}, null,#{warranty}, #{time_unit},null)
    </insert>

    <update id="update" parameterType="Product">
        update pro_product set sku_cd=#{sku_cd}, brd_id=#{brd_id}, man_id=#{man_id},
            title=#{title}, upc=#{upc}, ean=#{ean}, model=#{model}, warranty_day=#{warranty_day},
            replenishment_period=#{replenishment_period}, warranty=#{warranty}, time_unit=#{time_unit}
             where pro_id=#{pro_id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from pro_product where pro_id=#{pro_id}
    </delete>

    <select id="getAll" resultMap="_product">
        select * from pro_product
    </select>

    <select id="getById" parameterType="java.lang.Integer" resultMap="_product">
        select * from pro_product where pro_id=#{pro_id}
    </select>

    <select id="getAllByFilter" parameterType="java.util.Map" resultMap="_product">
        select * from pro_product
        <where>
            <if test="pro_id != null">pro_id = #{pro_id}</if>
            <if test="sku_cd != null">sku_cd = #{sku_cd}</if>
            <if test="brd_id != null">brd_id = #{brd_id}</if>
            <if test="man_id != null">man_id = #{man_id}</if>
            <if test="title != null">title = #{title}</if>
            <if test="upc != null">upc = #{upc}</if>
            <if test="ean != null">ean = #{ean}</if>
            <if test="model != null">model = #{model}</if>
            <if test="warranty_day != null">warranty_day = #{warranty_day}</if>
            <if test="replenishment_period != null">replenishment_period = #{replenishment_period}</if>
            <if test="warranty != null">warranty = #{warranty}</if>
            <if test="time_unit != null">time_unit = #{time_unit}</if>
        </where>
    </select>

    <resultMap id="_product" type="Product">
       <id column="PRO_ID" property="pro_id"/>
       <result column="SKU_CD" property="sku_cd" />
       <result column="BRD_ID" property="brd_id" />
       <result column="MAN_ID" property="man_id" />
       <result column="TITLE" property="title" />
       <result column="UPC" property="upc" />
       <result column="EAN" property="ean" />
       <result column="MODEL" property="model" />
       <result column="WARRANTY_DAY" property="warranty_day" />
       <result column="REPLENISHMENT_PERIOD" property="replenishment_period" />
       <result column="WARRANTY" property="warranty" />
       <result column="TIME_UNIT" property="time_unit" />
       <result column="IMG_ID" property="img_id" />
       <result column="PRC_ID" property="prc_id" />
    </resultMap>

</mapper>
