<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.imagemanager8082.image.mapper.ImageMapper">
    <insert id="insert" parameterType="Image" useGeneratedKeys="true" keyProperty="img_id">
        insert into img_image values(null, #{name}, #{width}, #{height}, #{uri}, #{type_cd}, #{entity_id}, #{entity_cd},
            #{seq_no}, #{created_by}, #{creation_date}, #{last_update_by}, #{last_update_date},
            #{call_cnt}, #{remark}, #{sts_cd})
    </insert>


    <delete id="delete" parameterType="java.lang.Integer">
        delete from img_image where IMG_ID= #{image_id}
    </delete>

    <select id="getById" resultType="Image" parameterType="java.lang.Integer">
        select * from img_image where IMG_ID = #{pk}
    </select>

</mapper>
