<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.basicinformation8084.bvo.mapper.DropShipperMapper">
    <insert id="insert"  parameterType="DropShipper">
        insert into dsr_dropshipper values(null, #{name}, #{created_by}, #{creation_date},
        #{last_update_by}, #{last_update_date}, #{call_cnt}, #{remark}, #{sts_cd}, #{register_date}, #{user_id})
    </insert>

    <update id="update" parameterType="DropShipper">
        update dsr_dropshipper set name=#{name}, created_by=#{created_by}, creation_date=#{creation_date},
        last_update_by=#{last_update_by}, last_update_date=#{last_update_date}, call_cnt=#{call_cnt}, remark=#{remark},
            sts_cd=#{sts_cd}, register_date=#{register_date}, user_id=#{user_id} where dsr_id=#{dsr_id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from dsr_dropshipper where dsr_id=#{dsr_id}
    </delete>

    <select id="getAll" resultMap="_dropshipper">
        select * from dsr_dropshipper
    </select>

    <select id="getById" parameterType="java.lang.Integer" resultMap="_dropshipper">
        select * from dsr_dropshipper where dsr_id=#{dsr_id}
    </select>

    <select id="getAllByFilter" parameterType="java.util.Map" resultMap="_dropshipper">
        select * from dsr_dropshipper
        <where>
            <if test="dsr_id != null">dsr_id = #{dsr_id}</if>
            <if test="name != null">name = #{name}</if>
            <if test="created_by != null">created_by = #{created_by}</if>
            <if test="creation_date != null">creation_date = #{creation_date}</if>
            <if test="last_update_by != null">last_update_by = #{last_update_by}</if>
            <if test="last_update_date != null">last_update_date = #{last_update_date}</if>
            <if test="call_cnt != null">call_cnt = #{call_cnt}</if>
            <if test="remark != null">remark = #{remark}</if>
            <if test="sts_cd != null">sts_cd = #{sts_cd}</if>
            <if test="register_date != null">register_date = #{register_date}</if>
            <if test="user_id != null">user_id = #{user_id}</if>
        </where>
    </select>

    <resultMap id="_dropshipper" type="DropShipper">
       <id column="DSR_ID" property="dsr_id" />
       <result column="OFP_ID" property="ofp_id" />
       <result column="DSR_ID" property="dsr_id" />
       <result column="WAR_ID" property="war_id" />
       <result column="CREATED_BY" property="created_by" />
       <result column="CREATION_DATE" property="creation_date" />
       <result column="LAST_UPDATE_BY" property="last_update_by" />
       <result column="LAST_UPDATE_DATE" property="last_update_date" />
       <result column="CALL_CNT" property="call_cnt" />
       <result column="REMARK" property="remark" />
       <result column="STS_CD" property="sts_cd" />
    </resultMap>

</mapper>
