<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.wallet8086.wallet.mapper.WalletTransactionRecordMapper">
    <insert id="insert"  parameterType="WalletTransactionRecord" useGeneratedKeys="true" keyProperty="transaction_id">
        insert into wtr_wallet_transaction_record values(
         null, #{buyer_id}, #{bank_card_id}, #{transaction_number}, #{transaction_type},
          #{account_name}, #{transaction_money}, #{commission}, #{discount_commission}, #{transaction_method},
           #{complete_time}, #{status}, #{actual_money}, #{actual_commission}, #{actual_discount_commission},
           #{balance}, #{business_id}, #{finance_type}, #{note}, #{operator_name}, #{operator_ip}, #{create_by}, #{create_time},
           #{last_update_by}, #{last_update_time}, #{bank_receipt_url}, #{exchange_rate}, #{transaction_desc},
           #{foreign_exchange_fee}, #{withdraw_fee}
        )
    </insert>

    <update id="update" parameterType="WalletTransactionRecord">
        update wtr_wallet_transaction_record
        set
        buyer_id = #{buyer_id},
        bank_card_id = #{bank_card_id},
        transaction_number = #{transaction_number},
        transaction_type = #{transaction_type},
        account_name = #{account_name},
        transaction_money = #{transaction_money},
        commission = #{commission},
        discount_commission = #{discount_commission},
        transaction_method = #{transaction_method},
        complete_time = #{complete_time},
        status = #{status},
        actual_money = #{actual_money},
        actual_commission = #{actual_commission},
        actual_discount_commission = #{actual_discount_commission},
        balance = #{balance},
        business_id = #{business_id},
        finance_type = #{finance_type},
        note = #{note},
        operator_name = #{operator_name},
        operator_ip = #{operator_ip},
        create_by = #{create_by},
        create_time = #{create_time},
        last_update_by = #{last_update_by},
        last_update_time = #{last_update_time},
        bank_receipt_url = #{bank_receipt_url},
        exchange_rate = #{exchange_rate},
        transaction_desc = #{transaction_desc},
        foreign_exchange_fee = #{foreign_exchange_fee},
        withdraw_fee = #{withdraw_fee}
        where
        transaction_id = #{transaction_id}
    </update>

    <delete id="delete" parameterType="WalletTransactionRecord">
        delete from wtr_wallet_transaction_record where transaction_id=#{transaction_id}
    </delete>

    <select id="getAll" resultMap="_walletTransactionRecord">
        select * from wtr_wallet_transaction_record
    </select>

    <select id="getById" parameterType="java.lang.Integer" resultMap="_walletTransactionRecord">
        select * from wtr_wallet_transaction_record where transaction_id=#{transaction_id}
    </select>

    <select id="getAllByFilter" parameterType="java.util.Map" resultMap="_walletTransactionRecord">
        select * from wtr_wallet_transaction_record
        <where>
            <if test="transaction_id != null">transaction_id = #{transaction_id}</if>
            <if test="buyer_id != null">buyer_id = #{buyer_id}</if>
            <if test="bank_card_id != null">bank_card_id = #{bank_card_id}</if>
            <if test="transaction_number != null">transaction_number = #{transaction_number}</if>
            <if test="transaction_type != null">transaction_type = #{transaction_type}</if>
            <if test="account_name != null">account_name = #{account_name}</if>
            <if test="transaction_money != null">transaction_money = #{transaction_money}</if>
            <if test="commission != null">commission = #{commission}</if>
            <if test="discount_commission != null">discount_commission = #{discount_commission}</if>
            <if test="transaction_method != null">transaction_method = #{transaction_method}</if>
            <if test="complete_time != null">complete_time = #{complete_time}</if>
            <if test="status != null">status = #{status}</if>
            <if test="actual_money != null">actual_money = #{actual_money}</if>
            <if test="actual_commission != null">actual_commission = #{actual_commission}</if>
            <if test="actual_discount_commission != null">actual_discount_commission = #{actual_discount_commission}</if>
            <if test="balance != null">balance = #{balance}</if>
            <if test="business_id != null">business_id = #{business_id}</if>
            <if test="finance_type != null">finance_type = #{finance_type}</if>
            <if test="note != null">note = #{note}</if>
            <if test="operator_name != null">operator_name = #{operator_name}</if>
            <if test="operator_ip != null">operator_ip = #{operator_ip}</if>
            <if test="create_by != null">create_by = #{create_by}</if>
            <if test="create_time != null">create_time = #{create_time}</if>
            <if test="last_update_by != null">last_update_by = #{last_update_by}</if>
            <if test="last_update_time != null">last_update_time = #{last_update_time}</if>
            <if test="bank_receipt_url != null">bank_receipt_url = #{bank_receipt_url}</if>
            <if test="exchange_rate != null">exchange_rate = #{exchange_rate}</if>
            <if test="transaction_desc != null">transaction_desc = #{transaction_desc}</if>
            <if test="foreign_exchange_fee != null">foreign_exchange_fee = #{foreign_exchange_fee}</if>
            <if test="withdraw_fee != null">withdraw_fee = #{withdraw_fee}</if>
        </where>
    </select>

    <resultMap id="_walletTransactionRecord" type="WalletTransactionRecord">
        <id column="transaction_id" property="transaction_id" />
        <result column="buyer_id" property="buyer_id" />
        <result column="bank_card_id" property="bank_card_id" />
        <result column="transaction_number" property="transaction_number" />
        <result column="transaction_type" property="transaction_type" />
        <result column="account_name" property="account_name" />
        <result column="transaction_money" property="transaction_money" />
        <result column="commission" property="commission" />
        <result column="discount_commission" property="discount_commission" />
        <result column="transaction_method" property="transaction_method" />
        <result column="complete_time" property="complete_time" />
        <result column="status" property="status" />
        <result column="actual_money" property="actual_money" />
        <result column="actual_commission" property="actual_commission" />
        <result column="actual_discount_commission" property="actual_discount_commission" />
        <result column="balance" property="balance" />
        <result column="business_id" property="business_id"/>
        <result column="finance_type" property="finance_type" />
        <result column="note" property="note" />
        <result column="operator_name" property="operator_name" />
        <result column="operator_ip" property="operator_ip" />
        <result column="create_by" property="create_by" />
        <result column="create_time" property="create_time" />
        <result column="last_update_by" property="last_update_by" />
        <result column="last_update_time" property="last_update_time" />
        <result column="bank_receipt_url" property="bank_receipt_url" />
        <result column="exchange_rate" property="exchange_rate" />
        <result column="transaction_desc" property="transaction_desc" />
        <result column="foreign_exchange_fee" property="foreign_exchange_fee" />
        <result column="withdraw_fee" property="withdraw_fee" />
    </resultMap>
</mapper>










