<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.wallet8086.wallet.mapper.WalletTransactionAuditMapper">
    <insert id="insert"  parameterType="WalletTransactionAudit">
        insert into wta_wallet_transaction_aduit values(
       null, #{buyer_id}, #{transaction_id}, #{available_money_before},
       #{depositing_money_before}, #{withdrawing_money_before}, #{operate_money},
       #{operate_type}, #{available_money_after}, #{depositing_money_after},
       #{withdrawing_money_after}, #{operate_by}, #{status}, #{create_by},
        #{create_time}, #{last_update_by}, #{last_update_time}, #{img_id}, #{img_url}
        )
    </insert>

    <update id="update" parameterType="WalletTransactionAudit">
        update wta_wallet_transaction_aduit
        set
        buyer_id = #{buyer_id},
        transaction_id = #{transaction_id},
        available_money_before = #{available_money_before},
        depositing_money_before = #{depositing_money_before},
        withdrawing_money_before = #{withdrawing_money_before},
        operate_money = #{operate_money},
        operate_type = #{operate_type},
        available_money_after = #{available_money_after},
        depositing_money_after = #{depositing_money_after},
        withdrawing_money_after = #{withdrawing_money_after},
        operate_by = #{operate_by},
        status = #{status},
        create_by = #{create_by},
        create_time = #{create_time},
        last_update_by = #{last_update_by},
        last_update_time = #{last_update_time},
        img_id = #{img_id},
        img_url = #{img_url}
         where
         transaction_audit_id = #{transaction_audit_id}
    </update>

    <delete id="delete" parameterType="WalletTransactionAudit">
        delete from wta_wallet_transaction_aduit where transaction_audit_id=#{transaction_audit_id}
    </delete>

    <select id="getAll" resultMap="_walletTransactionAudit">
        select * from wta_wallet_transaction_aduit
    </select>

    <select id="getById" parameterType="java.lang.Integer" resultMap="_walletTransactionAudit">
        select * from wta_wallet_transaction_aduit where transaction_id=#{transaction_id}
    </select>

    <select id="getAllByFilter" parameterType="java.util.Map" resultMap="_walletTransactionAudit">
        select * from wta_wallet_transaction_aduit
        <where>
            <if test="transaction_audit_id != null">transaction_audit_id = #{transaction_audit_id}</if>
            <if test="buyer_id != null">and buyer_id = #{buyer_id}</if>
            <if test="transaction_id != null">and transaction_id = #{transaction_id}</if>
            <if test="available_money_before != null">and available_money_before = #{available_money_before}</if>
            <if test="depositing_money_before != null">and depositing_money_before = #{depositing_money_before}</if>
            <if test="withdrawing_money_before != null">and withdrawing_money_before = #{withdrawing_money_before}</if>
            <if test="operate_money != null">and operate_money = #{operate_money}</if>
            <if test="operate_type != null">and operate_type = #{operate_type}</if>
            <if test="available_money_after != null">and available_money_after = #{available_money_after}</if>
            <if test="depositing_money_after != null">and depositing_money_after = #{depositing_money_after}</if>
            <if test="withdrawing_money_after != null">and withdrawing_money_after = #{withdrawing_money_after}</if>
            <if test="operate_by != null">and operate_by = #{operate_by}</if>
            <if test="status != null">and status = #{status}</if>
            <if test="create_by != null">and create_by = #{create_by}</if>
            <if test="create_time != null">and create_time = #{create_time}</if>
            <if test="last_update_by != null">and last_update_by = #{last_update_by}</if>
            <if test="last_update_time != null">and last_update_time = #{last_update_time}</if>
            <if test="img_id != null">and img_id = #{img_id}</if>
            <if test="img_url != null">and img_url = #{img_url}</if>
        </where>
    </select>

    <resultMap id="_walletTransactionAudit" type="WalletTransactionAudit">
        <id column="transaction_audit_id" property="transaction_audit_id" />
        <result column="buyer_id" property="buyer_id" />
        <result column="transaction_id" property="transaction_id" />
        <result column="available_money_before" property="available_money_before" />
        <result column="depositing_money_before" property="depositing_money_before" />
        <result column="withdrawing_money_before" property="withdrawing_money_before" />
        <result column="operate_money" property="operate_money" />
        <result column="operate_type" property="operate_type" />
        <result column="available_money_after" property="available_money_after" />
        <result column="depositing_money_after" property="depositing_money_after" />
        <result column="withdrawing_money_after" property="withdrawing_money_after" />
        <result column="operate_by" property="operate_by" />
        <result column="status" property="status" />
        <result column="create_by" property="create_by" />
        <result column="create_time" property="create_time" />
        <result column="last_update_by" property="last_update_by" />
        <result column="last_update_time" property="last_update_time" />
        <result column="img_id" property="img_id" />
        <result column="img_url" property="img_url" />
    </resultMap>
</mapper>









