<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.basicinformation8084.mvo.mapper.BrandMapper">
    <insert id="insert"  parameterType="Brand">
        insert into brd_brand values(null, #{man_id},#{name_en},#{name_cn},#{created_by},#{creation_date},#{last_update_by},#{last_update_date},#{call_cnt},
            #{remark},null, #{img_url})
    </insert>

    <update id="update" parameterType="Brand">
        update brd_brand
        set man_id = #{man_id}, name_en = #{name_en}, name_cn = #{name_cn}, created_by = #{created_by},
            creation_date = #{creation_date}, last_update_by = #{last_update_by}, last_update_date = #{last_update_date},
            call_cnt = #{call_cnt},remark = #{remark}, img_url=#{img_url} where brd_id = #{brd_id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from brd_brand where brd_id=#{brd_id}
    </delete>

    <select id="getAll" resultMap="_brand">
        select * from brd_brand
    </select>

    <select id="getById" parameterType="java.lang.Integer" resultMap="_brand">
        select * from brd_brand where brd_id=#{brd_id}
    </select>

    <select id="getAllByFilter" parameterType="java.util.Map" resultMap="_brand">
        select * from brd_brand
        <where>
            <if test="brd_id != null">brd_id = #{brd_id}</if>
            <if test="man_id != null">and man_id = #{man_id}</if>
            <if test="name_en != null">and name_en = #{name_en}</if>
            <if test="name_cn != null">and name_cn = #{name_cn}</if>
            <if test="created_by != null">and created_by = #{created_by}</if>
            <if test="creation_date != null">and creation_date = #{creation_date}</if>
            <if test="last_update_by != null">and last_update_by = #{last_update_by}</if>
            <if test="last_update_date != null">and last_update_date = #{last_update_date}</if>
            <if test="call_cnt != null">and call_cnt = #{call_cnt}</if>
            <if test="remark != null">and remark = #{remark}</if>
            <if test="img_url != null">and img_url = #{img_url}</if>
        </where>
    </select>

    <resultMap id="_brand" type="Brand">
        <id column="BRD_ID" property="brd_id"/>
       <result column="MAN_ID" property="man_id" />
       <result column="NAME_EN" property="name_en" />
       <result column="NAME_CN" property="name_cn"  />
       <result column="CREATED_BY" property="created_by"  />
       <result column="CREATION_DATE" property="creation_date"  />
       <result column="LAST_UPDATE_BY" property="last_update_by"  />
       <result column="LAST_UPDATE_DATE" property="last_update_date"  />
       <result column="CALL_CNT" property="call_cnt"  />
       <result column="REMARK" property="remark"  />
        <result column="IMG_URL" property="img_url" />
    </resultMap>
</mapper>
