<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.order8085.order.mapper.SalesOrderMapper">
    <insert id="insert"  parameterType="SalesOrder">
        insert into sao_sales_order values(
            null, {created_by}, {creation_date}, {last_update_by}, {last_update_date},
            {call_cnt}, {remark}, {sts_cd}, {man_id}, {war_id}, {sync_date}, {payment_date},
            {push_date}, {track_no_date}, {fulfillment_date}, {settlement_date}, {product_amount},
            {freight_cost}, {handling_fee}, {customer_remark}, {order_no}, {order_sts}, {refund_sts},
             {delivery_sts}, {sto_id}, {last_freight_cost}, {cancle_time}, {auto_pay_status},
             {buyer_checkout_message}, {auto_pay_time}
        )
    </insert>

    <update id="update" parameterType="SalesOrder">
        update sao_sales_order
        set
        created_by = #{created_by}, creation_date = #{creation_date}, last_update_by = #{last_update_by}, last_update_date = #{last_update_date}, call_cnt = #{call_cnt},
         remark = #{remark}, sts_cd = #{sts_cd}, man_id = #{man_id}, war_id = #{war_id}, sync_date = #{sync_date}, payment_date = #{payment_date}, push_date = #{push_date},
          track_no_date = #{track_no_date}, fulfillment_date = #{fulfillment_date}, settlement_date = #{settlement_date}, product_amount = #{product_amount}, freight_cost = #{freight_cost},
          handling_fee = #{handling_fee}, customer_remark = #{customer_remark}, order_no = #{order_no}, order_sts = #{order_sts}, refund_sts = #{refund_sts}, delivery_sts = #{delivery_sts},
           sto_id = #{sto_id}, last_freight_cost = #{last_freight_cost}, cancle_time = #{cancle_time}, auto_pay_status = #{auto_pay_status}, buyer_checkout_message = #{buyer_checkout_message},
            auto_pay_time = #{auto_pay_time} where sao_id = #{sao_id}
    </update>

    <delete id="delete" parameterType="SalesOrder">
        delete from sao_sales_order where sao_id=#{sao_id}
    </delete>

    <select id="getAll" resultMap="_salesOrder">
        select * from sao_sales_order
    </select>

    <select id="getById" parameterType="java.lang.Integer" resultMap="_salesOrder">
        select * from sao_sales_order where sao_id=#{sao_id}
    </select>

    <select id="getByStoreOrderId" parameterType="java.lang.Integer" resultMap="_salesOrder">
        select * from sao_sales_order where sto_id=#{sto_id}
    </select>

    <select id="getAllByFilter" parameterType="java.util.Map" resultMap="_salesOrder">
        select * from sao_sales_order
        <where>
            <if test="sao_id != null">sao_id = #{sao_id}</if>
            <if test="created_by != null">and created_by = #{created_by}</if>
            <if test="creation_date != null">and creation_date = #{creation_date}</if>
            <if test="last_update_by != null">and last_update_by = #{last_update_by}</if>
            <if test="last_update_date != null">and last_update_date = #{last_update_date}</if>
            <if test="call_cnt != null">and call_cnt = #{call_cnt}</if>
            <if test="remark != null">and remark = #{remark}</if>
            <if test="sts_cd != null">and sts_cd = #{sts_cd}</if>
            <if test="man_id != null">and man_id = #{man_id}</if>
            <if test="war_id != null">and war_id = #{war_id}</if>
            <if test="sync_date != null">and sync_date = #{sync_date}</if>
            <if test="payment_date != null">and payment_date = #{payment_date}</if>
            <if test="push_date != null">and push_date = #{push_date}</if>
            <if test="track_no_date != null">and track_no_date = #{track_no_date}</if>
            <if test="fulfillment_date != null">and fulfillment_date = #{fulfillment_date}</if>
            <if test="settlement_date != null">and settlement_date = #{settlement_date}</if>
            <if test="product_amount != null">and product_amount = #{product_amount}</if>
            <if test="freight_cost != null">and freight_cost = #{freight_cost}</if>
            <if test="handling_fee != null">and handling_fee = #{handling_fee}</if>
            <if test="customer_remark != null">and customer_remark = #{customer_remark}</if>
            <if test="order_no != null">and order_no = #{order_no}</if>
            <if test="order_sts != null">and order_sts = #{order_sts}</if>
            <if test="refund_sts != null">and refund_sts = #{refund_sts}</if>
            <if test="delivery_sts != null">and delivery_sts = #{delivery_sts}</if>
            <if test="sto_id != null">and sto_id = #{sto_id}</if>
            <if test="last_freight_cost != null">and last_freight_cost = #{last_freight_cost}</if>
            <if test="cancle_time != null">and cancle_time = #{cancle_time}</if>
            <if test="auto_pay_status != null">and auto_pay_status = #{auto_pay_status}</if>
            <if test="buyer_checkout_message != null">and buyer_checkout_message = #{buyer_checkout_message}</if>
            <if test="auto_pay_time != null">and auto_pay_time = #{auto_pay_time}</if>
        </where>
    </select>

    <resultMap id="_salesOrder" type="SalesOrder">
        <id column="sao_id" property="sao_id" />
        <result column="created_by" property="created_by" />
        <result column="creation_date" property="creation_date" />
        <result column="last_update_by" property="last_update_by" />
        <result column="last_update_date" property="last_update_date" />
        <result column="call_cnt" property="call_cnt" />
        <result column="remark" property="remark" />
        <result column="sts_cd" property="sts_cd" />
        <result column="man_id" property="man_id" />
        <result column="war_id" property="war_id" />
        <result column="sync_date" property="sync_date" />
        <result column="payment_date" property="payment_date" />
        <result column="push_date" property="push_date" />
        <result column="track_no_date" property="track_no_date" />
        <result column="fulfillment_date" property="fulfillment_date" />
        <result column="settlement_date" property="settlement_date" />
        <result column="product_amount" property="product_amount" />
        <result column="freight_cost" property="freight_cost" />
        <result column="handling_fee" property="handling_fee" />
        <result column="customer_remark" property="customer_remark" />
        <result column="order_no" property="order_no" />
        <result column="order_sts" property="order_sts" />
        <result column="refund_sts" property="refund_sts" />
        <result column="delivery_sts" property="delivery_sts" />
        <result column="sto_id" property="sto_id" />
        <result column="last_freight_cost" property="last_freight_cost" />
        <result column="cancle_time" property="cancle_time" />
        <result column="auto_pay_status" property="auto_pay_status" />
        <result column="buyer_checkout_message" property="buyer_checkout_message" />
        <result column="auto_pay_time" property="auto_pay_time" />
    </resultMap>
</mapper>









