<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.order8085.order.mapper.ShippingAddressMapper">
    <insert id="insert"  parameterType="ShippingAddress">
        insert into sha_shipping_address values(
            {created_by}, {creation_date}, {last_update_by}, {last_update_date},
            {call_cnt}, {remark}, {sts_cd}, {family_name}, {given_name}, {country_name},
            {country_iso_cd}, {state_or_province_name}, {state_or_province_cd}, {city_name},
            {address_line1}, {address_line2}, {address_line3}, {postal_cd}, {contact_phone_no},
             {email}, {sto_id}, {carrier_name}
        )
    </insert>

    <update id="update" parameterType="ShippingAddress">
        update sha_shipping_address
        set
         created_by = #{created_by}, creation_date = #{creation_date}, last_update_by = #{last_update_by}, last_update_date = #{last_update_date}, call_cnt = #{call_cnt}, remark = #{remark}, sts_cd = #{sts_cd}, family_name = #{family_name}, given_name = #{given_name}, country_name = #{country_name}, country_iso_cd = #{country_iso_cd}, state_or_province_name = #{state_or_province_name}, state_or_province_cd = #{state_or_province_cd}, city_name = #{city_name}, address_line1 = #{address_line1}, address_line2 = #{address_line2}, address_line3 = #{address_line3}, postal_cd = #{postal_cd}, contact_phone_no = #{contact_phone_no}, email = #{email},  carrier_name = #{carrier_name}
         where sto_id = #{sto_id}
    </update>

    <delete id="delete" parameterType="ShippingAddress">
        delete from sha_shipping_address where sto_id=#{sto_id}
    </delete>

    <select id="getAll" resultMap="_shippingAddress">
        select * from sha_shipping_address
    </select>

    <select id="getById" parameterType="java.lang.Integer" resultMap="_shippingAddress">
        select * from sha_shipping_address where sto_id=#{sto_id}
    </select>

    <select id="getAllByFilter" parameterType="java.util.Map" resultMap="_shippingAddress">
        select * from sha_shipping_address
        <where>
            <if test="created_by != null">created_by = #{created_by}</if>
            <if test="creation_date != null">creation_date = #{creation_date}</if>
            <if test="last_update_by != null">last_update_by = #{last_update_by}</if>
            <if test="last_update_date != null">last_update_date = #{last_update_date}</if>
            <if test="call_cnt != null">call_cnt = #{call_cnt}</if>
            <if test="remark != null">remark = #{remark}</if>
            <if test="sts_cd != null">sts_cd = #{sts_cd}</if>
            <if test="family_name != null">family_name = #{family_name}</if>
            <if test="given_name != null">given_name = #{given_name}</if>
            <if test="country_name != null">country_name = #{country_name}</if>
            <if test="country_iso_cd != null">country_iso_cd = #{country_iso_cd}</if>
            <if test="state_or_province_name != null">state_or_province_name = #{state_or_province_name}</if>
            <if test="state_or_province_cd != null">state_or_province_cd = #{state_or_province_cd}</if>
            <if test="city_name != null">city_name = #{city_name}</if>
            <if test="address_line1 != null">address_line1 = #{address_line1}</if>
            <if test="address_line2 != null">address_line2 = #{address_line2}</if>
            <if test="address_line3 != null">address_line3 = #{address_line3}</if>
            <if test="postal_cd != null">postal_cd = #{postal_cd}</if>
            <if test="contact_phone_no != null">contact_phone_no = #{contact_phone_no}</if>
            <if test="email != null">email = #{email}</if>
            <if test="sto_id != null">sto_id = #{sto_id}</if>
            <if test="carrier_name != null">carrier_name = #{carrier_name}</if>
        </where>
    </select>

    <resultMap id="_shippingAddress" type="ShippingAddress">
        <result column="created_by" property="created_by" />
        <result column="creation_date" property="creation_date" />
        <result column="last_update_by" property="last_update_by" />
        <result column="last_update_date" property="last_update_date" />
        <result column="call_cnt" property="call_cnt" />
        <result column="remark" property="remark" />
        <result column="sts_cd" property="sts_cd" />
        <result column="family_name" property="family_name" />
        <result column="given_name" property="given_name" />
        <result column="country_name" property="country_name" />
        <result column="country_iso_cd" property="country_iso_cd" />
        <result column="state_or_province_name" property="state_or_province_name" />
        <result column="state_or_province_cd" property="state_or_province_cd" />
        <result column="city_name" property="city_name" />
        <result column="address_line1" property="address_line1" />
        <result column="address_line2" property="address_line2" />
        <result column="address_line3" property="address_line3" />
        <result column="postal_cd" property="postal_cd" />
        <result column="contact_phone_no" property="contact_phone_no" />
        <result column="email" property="email" />
        <result column="sto_id" property="sto_id" />
        <result column="carrier_name" property="carrier_name" />
    </resultMap>
</mapper>






